/* FONTS */

@font-face {
	font-family: 'Geometr415 Blk BT';
	src: url(../fonts/TT0524M_.TTF);
	src: url(../fonts/TT0524M_.woff);
}

@font-face {
	font-family: 'VerdanaB';
	src: url(../fonts/VERDANAB.TTF);
	src: url(../fonts/VERDANAB.woff)
}

@font-face {
	font-family: 'Verdana';
	src: url(../fonts/VERDANA.TTF);
	src: url(../fonts/VERDANA.woff)
}

