/* FONTS */

@font-face {
	font-family: "Geometr415 Blk BT";
	src: url(../fonts/TT0524M_.TTF);
	src: url(../fonts/TT0524M_.woff);
}

@font-face {
	font-family: "VerdanaB";
	src: url(../fonts/VERDANAB.TTF);
	src: url(../fonts/VERDANAB.woff)
}

@font-face {
	font-family: "Verdana";
	src: url(../fonts/VERDANA.TTF);
	src: url(../fonts/VERDANA.woff)
}

/* GENERAL */
html {
    width: 100%;
	font-size: 24px;
    font-family: "Verdana", sans-serif;
    background-color:white;
    margin: auto;
}

/* HEADER */
header {
	display: block;
	width: 100%;
	height: 200px;
}

/* LOGO PART */
.black_box {
	width: 600px;
	height: 100px;
	background-color: black;
	display: block;
    margin-left: auto;
	margin-right: auto 
}

.pic {
	display: flex;
	justify-content: center;
	position: relative;
	top: -95px;
}

h2 {
	font-family: "Geometr415 Blk BT";
	font-size: 35px;
	text-transform: uppercase;
	color: white;
	display: flex;
	justify-content: center;
	position: relative;
}

.words_1 {
	padding-top: 50px;
	padding-right: 10px;
}

.words_2 {
	padding-top: 50px;
	padding-left: 10px;
}

.cover {
	display: flex;
	justify-content: space-around;
	position: relative;
	height: 170px;
}

.language {
	padding-top: 35px;
}

.d input {
	background-color: black;
	height: 30px;
	width: 115px;
	border-radius: 10px;
	border:none;
	font-family: "Geometr415 Blk BT";
	font-size: 20px;
	color:white;
	padding-top: 7px;
	padding-left: 10px;
}

.d button {
	background-color: black;
	border-radius: 10px;
	border: none;
	float: left;
	padding-top: 7px;
}

.d button:before {
	content: url(../img/heart.png);
}

.no_interval{
	background-color: black;
	height: 45px;
	width: 175px;
	margin-top: 45px;
	border-radius: 10px;
}

.left {
	display: flex;
	justify-content: space-around;
	width: 40%;
	float: left;
	padding-left: 50px;
}

.right {
	display: flex;
	justify-content: space-around;
	width: 40%;
	float: right;
	padding-right: 50px;
}

li {
	position: relative;
	margin: auto;
	font-family: "Geometr415 Blk BT";
}

li a {
	text-decoration: none;
	color: black;
}