/* FONTS */

@font-face {
	font-family: "Geometr415 Blk BT";
	src: url(../fonts/TT0524M_.TTF);
	src: url(../fonts/TT0524M_.woff);
}

@font-face {
	font-family: "VerdanaB";
	src: url(../fonts/VERDANAB.TTF);
	src: url(../fonts/VERDANAB.woff)
}

@font-face {
	font-family: "Verdana";
	src: url(../fonts/VERDANA.TTF);
	src: url(../fonts/VERDANA.woff)
}


/* GENERAL */
html {
	width: 1346px;
	height: auto;
  font-size: 18px;
  font-family: "Verdana", sans-serif;
	background-color: black;
	margin: auto;
	overflow-x: hidden;
}


/* HEADER */
header {
	display: block;
	width: 100%;
	height: 215px;
	background-color: white;
}


/* LOGO PART */
.black_box {
	width: 600px;
	height: 100px;
	background-color: black;
	display: block;
    margin-left: auto;
	margin-right: auto 
}

.pic {
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 95px;
}

h2 {
	font-family: "Geometr415 Blk BT";
	font-size: 35px;
	text-transform: uppercase;
	color: white;
	display: flex;
	justify-content: center;
	position: relative;
}

.word_1, .word_2 {
	padding-top: 40px;
}

.cover {
	display: flex;
	justify-content: space-around;
	position: relative;
	height: 170px;
}

.cover_adopt {
	display: none;
}

/* LANGUAGE BUTTONS */

.language {
	padding-top: 35px;
}

/* Bel */
a.rollover_bel {
	background: url(../img/Bel.png);
	display: inline-block;
	width: 60px;
	height: 62px;
 }
  a.rollover_bel:hover {
	background: url(../img/Bel_2.png);
 }

/* Rus */
 a.rollover_rus {
	background: url(../img/Rus.png);
	display: inline-block;
	width: 60px;
	height: 62px;
 }
  a.rollover_rus:hover {
	background: url(../img/Rus_2.png);
 }

/* Eng */
 a.rollover_eng {
	background: url(../img/Eng.png);
	display: inline-block;
	width: 60px;
	height: 62px;
 }
  a.rollover_eng:hover {
	background: url(../img/Eng_2.png);
 }


 /* SEARCH */

.search input {
	background-color: black;
	height: 30px;
	width: 110px;
	border-radius: 10px;
	border:none;
	font-family: "Geometr415 Blk BT";
	font-size: 20px;
	color:white;
	padding-top: 10px;
	padding-left: 10px;
}

.search button {
	background-color: black;
	border-radius: 10px;
	border: none;
	float: left;
	padding-top: 7px;
}

.search button:before {
	content: url(../img/heart.png);
}

.no_interval{
	background-color: black;
	height: 45px;
	width: 175px;
	margin-top: 45px;
	border-radius: 10px;
}


/* NAVIGATION */

.left_box {
	display: flex;
	justify-content: space-around;
	width: 40%;
	float: left;
	padding-left: 50px;
	text-transform: uppercase;
}

.right_box {
	display: flex;
	justify-content: space-around;
	width: 40%;
	float: right;
	padding-right: 50px;
	text-transform: uppercase;
}

.left_box li {
    width: 80px;
	border: 2px solid white;
	box-sizing: border-box;
}

.right_box li {
	width: 80px;
    border: 2px solid white;
}

li {
	position: relative;
	margin: auto;
	font-family: "Geometr415 Blk BT";
	font-size: 22px;
	border-top: 2px;
}

li a {
	text-decoration: none;
	color: black;
	transition: .1s linear;
}

.left_box li a:hover {
	font-size: 28px;
	color: #993333;
}

.right_box li a:hover {
	font-size: 28px;
	color: #993333;
}

main {
	width: 100%;
	margin-top: 0px;
	}


	/* BURGER */
  
a {
	text-decoration: none;
  }
  
body {
	position: relative;
  }
	
#menu-burger {
	width: 50px;
	height: 50px;
	background: black;
	
	border-radius: 50%;
	position: absolute;
	top: 31px;
	right: 5%;
	cursor: pointer;
	z-index: 200;
  }
  
#menu-burger .menu-icon {
	display: block;
	height: 2px;
	width: 18px;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -9px;
	margin-top: -1px;
  }
  
#menu-burger .menu-icon:after {
	content: '';
	display: block;
	height: 2px;
	width: 18px;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -9px;
	margin-top: -5px;
	transition: 0.35s;
  }
  
#menu-burger .menu-icon:before {
	content: ' ';
	display: block;
	height: 2px;
	width: 18px;
	background: #fff;
	  position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -9px;
	margin-top: 4px;
	transition: 0.35s;
  }
  
#menu-burger .menu-icon.open:before{
	transform: rotate(45deg);
	margin-top: -1px;
	background: #000;
  }
  
#menu-burger .menu-icon.open:after{
	transform: rotate(-45deg);
	margin-top: -1px;
	background: #000;
  }
  
#menu-burger.open {
	background: #fff;
  }
  
#menu-burger .menu-icon.open {
	background: #fff;
  }
  
#overlay-menu {
	margin-top: -20px;
	position: fixed;
	background: #000;
	height: 100%;
	width: 100%;
	opacity: 0.85;
	z-index: 100; 
	right: -100%;
	transition: 0.35s;
  }
  
#overlay-menu.open {
	right: 0%;
  }
  
#overlay-menu nav {
	height: 60%;
	position: relative;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	font-size: 32px;
	text-align: center;
  }
  
#overlay-menu nav ul {
	display: inline-block;
	margin: auto;
	height: 100%;
  }
  
#overlay-menu nav ul li {
	position: relative;
	color: #fff;
	margin-bottom: 20px;
  }
  
#overlay-menu nav ul li a {
	color: #fff;
	font-size:1.8em;
	line-height: 50px;
  }
  
#overlay-menu nav ul li a:after {
	content: ' ';
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	height: 3px;
	width: 0%;
	background: #fff;
	transition: 0.25s;
  }
  
#overlay-menu nav ul li a:hover:after {
	width: 100%;
	}


/* SLIDER */

#slider {
    position: relative;
    width: 100%; 
    height: 490px; 
	overflow: hidden;
	margin-top: 10px;
}

#slider span {
	text-align: center; 
	opacity: 0; 
	width: 100%;
	position: absolute; 
	height: auto;
	z-index: 2;
}
#slider span img {
	max-width: 100%;
	max-height: 100%;
}

#slider span.active {
	 opacity: 1;
	}


/* GALLERY */

#gallery {
	width: 100%;
	height: 220px;
	background-image: linear-gradient(to right, white 20%, #eddac5, #a8a9a8);
    box-shadow: inset rgba(0,0,0,.6) 0 -3px 8px, inset rgba(252,255,255,.7) 0 3px 8px,
    rgba(0,0,0,.8) 0 3px 8px -3px;
}

.block {
	background-color: #993333;
	width: 200px;
	height: 220px;
	float: left;
}

.block a {
	text-decoration: none;
	color: white;
}

.block:hover {
	background-color:  #dea254;
}

h3 {
	color: white;
	font-size: 40px;
	font-family: "Geometr415 Blk BT";
	text-align: left;
	padding-left: 35px;
	padding-top: 40px;
	text-decoration: none;
}

.photoset {
	display: none;
}

.friends {
	padding-left: 15px;
}

.container {
	display: flex;
	justify-content: space-around;
}

.container img {
	max-width: 100%;
	max-height: 10%;
}

.dog_arrow {
	width: 20px;
	height: 70px;
	border: 4px solid #993333;
	background-color: #993333;
	margin: 70px 32px;
}

.dog_arrow:hover {
	border: 4px solid #dea254;
	background-color: #dea254;
}

.dog {
	padding: 15px 0;
	width: 200px;
	height: 190px;
}


/* MAIN PAGE */

.news:first-child {
	background-color:black;
	height: 80px;
	width: 100%;
}

.news:first-child:hover {
	height: 80px;
	background-color: #5b6272;
}

.news a {
	text-decoration: none;
}

h1 {
	font-size: 40px;
	text-transform: uppercase;
	font-family: "Geometr415 Blk BT";
	color: #dea254;
	text-align: center;
	padding-top: 20px;
}

.topics{
	width: 100%;
    display: block;
	margin: auto;
	background-color: black;
	}

h4 {
	color:	black;
	font-weight: bold;
	padding: 20px 0 0 100px;
	padding-top: 20px;
	font-size: 30px;
	line-height: 60px;
}

p {
	padding: 20px 100px 35px 100px;
	line-height: 30px;
	font-size: 20px;
}

.theme {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
}

.theme img {
	margin: 20px 25px;
	max-width: 100%;
	max-height: 100%;
}

.arrow {
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	height: 62px;
	padding-right: 70px;
}

.arrow:hover {
	background-image: url(../img/arrow_2.png);
 }

	 
	 /* FOOTER */

footer {
	font-family: "Geometr415 Blk BT";
	width: 100%;
	height: 350px;
}

.footer_nav {
    width: 100%;
    background-color: black;
	display: flex;
	justify-content: space-around;
	text-align: left;
}

.footer_nav a {
	text-decoration: none;
    color: white;
}

.footer_nav a:hover {
	color: #dea254;
}

.footer_menu {
	display: flex;
	flex-direction: column;
}

h5 {
	font-size: 24px;
	text-transform: uppercase;
}

.footer_menu span {
	padding-top: 30px;
	line-height: 10px;
}

.footer_menu a {
	padding-top: 30px;
	line-height: 10px;
}

.social a {
	display: inline-block;
	width: 65px;
	height: 63px;
}

.social_fb {
	background-image: url(../img/facebook.png);
	padding-top: 20px;
	background-repeat: no-repeat;

}

.social_fb:hover {
	background-image: url(../img/facebook_2.png);
}

.social_vb {
	background-image: url(../img/viber.png);
	padding-top: 20px;
	background-repeat: no-repeat;

}

.social_vb:hover {
	background-image: url(../img/viber_2.png);
}

.social_inst {
	background-image: url(../img/insta.png);
	padding-top: 20px;
	background-repeat: no-repeat;

}

.social_inst:hover {
	background-image: url(../img/insta_2.png);
}

.bottom {
  width: 100%;
  background-color: black;
	display: flex;
	justify-content: space-around;
  text-align: left;
  padding: 30px 0;
}

label {
    color: white;
}

#dynamic-input {
  margin-top: 15px;
  border-radius: 15px;
  width: 200px;
  height: 40px;
	font-size: 14px;
	text-align: left;
	padding-left: 70px;
	text-transform: uppercase;
}

.copyright p {

	height: 15px;
	font-size: 18px;
	background-color: #993333;
	text-align: center;
	padding-top: 15px;
    color: white;
}






/*********************************************** MEDIA ************************************************/

/* MEDIA 1346px - 1180px */

@media screen and (max-width: 1346px) {
html  {
	 width: 1180px;
}
	
#slider {
		position: relative;
		width: 100%; 
		height: 435px; 
		overflow: hidden;
		margin-top: 10px;
	}
	
.dog_arrow {
	margin: 70px 40px;
}
}


/* MEDIA 1180px - 1024px */

@media screen and (max-width: 1180px) {
html  {
		 width: 1024px;
	}
	
#gallery {
		height: 175px;
	}

.container img {
		width: 150px;
	}

	.dog_arrow {
		margin: 60px 25px;
	}
	
	
.block {
	width: 150px;
	height: 175px;
	}

h3 {
	font-size: 26px;
	}

.friends {
	padding-left: 15px;
	width: 25px;
	height: 23px;
	}

#slider {
		height: 375px; 
	}
	
h4 {
		font-size: 24px;
	}
	
p {
		font-size: 18px;
	}

footer {
	font-family: "Verdana";
}

h5 {
	font-size: 16px;
	font-weight: bold;
}
	
#dynamic-input {
	font-size: 10px;
	}
	
.copyright p {
	font-size: 14px;
	}
}



/* MEDIA 1024px - 800px */

@media screen and (max-width: 1024px) {
html  {
	width: 800px;
}
	
header {
	height: 215px;
}

.cover {
	display: none;
}

.topmenu {
	display: none;
}

.pic {
	position: initial;
	padding-left: 30px;
}

.cover_adopt {
	display: flex;
	justify-content: space-around;
	height: 100%;
}

.menu_adopt {
	color: black;
	font-size: 70px;
	font-family: "Geometr415 Blk BT";
	display: flex;
	justify-content: space-around;
	padding-left: 20px;
}

#menu_lang_search {
	width: 70%;
	padding-top: 20px;
}

#lang_search {
	display: flex;
	justify-content: space-around;
}

.language {
	padding-left: 30px; 
}

#slider {
	height: 295px;
	margin-top: 0;
}

#gallery {
	height: 460px;
	background-image: none;
	box-shadow: none;
}
	
#photo_dog {
	background-image: url(../img/adopt.jpg);
	height: 460px;
	width: 100%;
}

.block {
	display: none;
}
	
.photoset {
	background-color: #993333;
	width: 100%;
	height: 60px;
	display: block;
	padding-bottom: 10px;
}
	
h3 {
	display: none;
}
	
.photoset a{
	text-decoration: none;
}

.photoset a h1 {
	color: white;
	font-size: 30px;
	text-align: left;
	padding-left: 40px;
}

.photoset:hover {
	background-color: #dea254;
}

.container {
	display: none;
	width: 90%;
}

.news:first-child {
	height: 80px;
	background-color: #5b6272;
}

.news:first-child:hover {
	height: 80px;
	background-color: #dea254;
}

.news a {
	text-decoration: none;
}

h1 {
	font-size: 30px;
	padding-top: 25px;
	text-align: left;
	padding-left: 40px;
	color: white;
}

h4 {
	padding: 20px 0 20px 0;
	font-size: 24px;
	line-height: 35px;
	float: right;
}

p {
	padding: 20px 0 35px 0;
	line-height: 28px;
	font-size: 18px;
}

.n {
	width: 46%;
}

footer {
	font-family: "VerdanaB";
	height: 300px;
	display: flex;
	flex-direction: column;		
}

.footer_nav {
	display: flex;
	flex-direction: column;
}

h5 {
	font-size: 18px;
	padding: 0;
}

.footer_menu span {
	display: none;
}
	
.social {
	padding-right: 10px;
	margin-top: 30px;
}

.without_copy {
	display: flex;
	justify-content: space-around;
	padding: 5px 40px 20px 40px;
}

#dynamic-input {
	margin-top: 15px;
	border-radius: 15px;
	font-size: 14px;
	padding-left: 5px;
	margin-right: 10px; 
}

label {
	font-size: 14px;
	padding-right: 10px;
}

.bottom {
	width: 100%;
	display: block;
	text-align: right;
	padding: 0px 0 30px 0;
}

.copyright p {
	font-size: 12px;
	padding-top: 15px;
}
}



/* MEDIA 800px - 640px */

@media screen and (max-width: 800px) {
html  {
	width: 640px;
	}

header {
	height: 170px;
	}
	
.pic {
	padding-left: 5px;
	padding-top: 10px;
	height: 150px;
	width: 150px;
	}
	
.pic img {
	max-width: 100%;
	max-height: 100%;
	}

.menu_adopt {
	font-size: 50px;	
	}

a.rollover_bel {
	max-width: 40px;
	max-height: 40px;
	background-size: 100%;
	background-repeat: no-repeat;
	 }

a.rollover_bel:hover {
	max-width: 40px;
	max-height: 40px;
	background-size: 100%;
	background-repeat: no-repeat;
	 }

a.rollover_rus {
	max-width: 40px;
	max-height: 40px;
	background-size: 100%;
	background-repeat: no-repeat;
	 }
 
a.rollover_rus:hover {
	max-width: 40px;
	max-height: 40px;
	background-size: 100%;
	background-repeat: no-repeat;
	 }
	
a.rollover_eng {
	max-width: 40px;
	max-height: 40px;
	background-size: 100%;
	background-repeat: no-repeat;
	 }

a.rollover_eng:hover {
	max-width: 40px;
	max-height: 40px;
	background-size: 100%;
	background-repeat: no-repeat;
	 }
	
.no_interval{
	margin-top: 35px;
	}
	
#slider {
	height: 235px;
	margin-top: 0;
	}

#gallery {
	width: 640px;
	height: 360px;
	}
		
#photo_dog {
	max-width: 640px;
	max-height: 312px;
	background-size: 100%;
	background-repeat: no-repeat;
	}
		
.photoset {
	height: 50px;
	}

.news:first-child {
	height: 60px;
	}
	
.news:first-child:hover {
	height: 60px;
	}
	
h1 {
	padding-top: 25px;
	}
	
h4 {
	padding: 20px 0 20px 0;
	font-size: 20px;
	line-height: 35px;
	float: right;
	}
	
p {
	padding: 20px 0 35px 0;
	line-height: 28px;
	font-size: 16px;
	}
	
.n {
	width: 48%;
	}

.theme img {
	max-width: 200px;
	max-height: 150px;
	background-size: 100%;
	background-repeat: no-repeat;
}

footer {
		height: 300px;	
	}

h5 {
		font-size: 16px;
	}

.social a {
		max-width: 27px;
		max-height: 27px;
		background-size: 100%;
		margin-top: 30px;
		padding-right: 15px;
}



}